a:link {
   text-decoration: none;
}
a:visited {
   color: black;
}
a:hover{
   text-decoration: underline;
}
footer p {
   padding-right: 10px;
}
ul li {
   padding-right: 20px;
}
.bar-footer {
   border-top: 1px solid black;
   width: 100%;
   padding: 10px;
   background-color: rgb(230, 228, 228);
   
   display: flex;
   justify-content: space-between;
}
.links-footer {
   display: flex;
   justify-content: space-evenly;
}
.footer-style {
   position: fixed;
   bottom: 0;
   width: 100%;

   display: flex;
   flex-direction: column;
}
.text-search {
   margin-top: 20px;
   text-align: center;
}
.buttons {
   margin-top: 40px;
   display: flex;
   justify-content: center;
}
.logo-img {
   max-width: 100%;
   height: auto;
   display: block;

   margin: 12.5em auto 18px auto;

}
.search-bar {
   display: block;
   padding-top: 20px;
   margin: 0 auto 0px auto;
   border-radius: 35px;
   width: 35%;
}
div input:hover {
   border-color: black;
}
.search-button {
   display: inline;
   margin: 10px;

  
   background-color: white;
   border-color: white;
   cursor: pointer;
}